<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/about.css">
    <link rel="stylesheet" href="/public/styles/modal.css">
</head>
<body>
    <header>
        <h1><span>Acme</span> Web Design</h1>
        <ul>
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html" class="active">About</a></li>
            <li><a href="/views/services.html">Services</a></li>
        </ul>
    </header>

    <section class="newsletter">
        <h2>Subscribe to our newsletter</h2>
        <form action="#">
            <input type="email" placeholder="Enter Email...">
            <button type="submit">Subscribe</button>
        </form>
    </section>

    <section class="about">
        <div class="main-block">
            <h2>About us</h2>
            <p class="upper-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, quibusdam? Ratione non tenetur quasi neque in nostrum labore laboriosam optio aliquam? Quis molestiae maiores porro iste nihil pariatur consequuntur sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aliquid saepe sapiente, nemo nulla reiciendis cupiditate minima consectetur sequi fuga ab blanditiis iure praesentium ipsum impedit aspernatur! Repudiandae, necessitatibus dignissimos!</p>
            <p class="lower-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nulla repellat, blanditiis non porro eum asperiores perspiciatis quam alias beatae error. Enim deserunt dolore corrupti impedit accusamus vero ut numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nesciunt ut non quos sed aliquid placeat qui quas quam minus autem, itaque sunt vero numquam accusantium explicabo. 
            <br>Fuga, asperiores commodi.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quas a perspiciatis, vel quod sequi nesciunt asperiores iure voluptatum maiores, recusandae eius, debitis perferendis possimus excepturi expedita eligendi atque sed.
            </p>
            <p class="lower-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod architecto temporibus, perferendis nam excepturi consectetur, labore eveniet esse earum libero vel recusandae saepe ullam? Veritatis fugiat nihil in aliquid voluptatum.
            </p>
        </div>

        <div class="side-block">
            <h2>What we do</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda molestias, illo similique quos, nisi cupiditate numquam ipsam ratione iste eaque minus doloribus laborum error alias, corporis impedit quod perspiciatis magnam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore facere deleniti, fugit sunt fuga ad asperiores, laudantium deserunt dolores obcaecati similique. Quasi quidem exercitationem iusto ea veritatis voluptas veniam recusandae.</p>
        </div>

    </section>

    <div class="modal hide">
        <h1>Inscrição Concluída!</h1>
        <img src="/public/images/check.svg" alt="Concluído">
    </div>

    <footer>
        <p><span>Acme</span> Web Design, Copyright 2019</p>
    </footer>

    <script src="/public/scripts/main.js"></script>
</body>
</html>