<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acme</title>

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="stylesheet" href="/public/styles/modal.css">
</head>
<body>
    <div class="content">
        <header>
            <h1><span>Acme</span> Web Design</h1>
            <ul>
                <li><a href="/views/index.html" class="active">Home</a></li>
                <li><a href="/views/about.html">About</a></li>
                <li><a href="/views/services.html">Services</a></li>
            </ul>
        </header>

        <!-- First-child -->

        <section class="first-child">
            <h1>Affordable Professional Web Design</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat beatae, similique nostrum at esse culpa suscipit dolorem temporibus deserunt fugit a voluptates vero, vel impedit expedita cumque corporis necessitatibus officiis?</p>
        </section>

        <!-- Newsletter -->

        <section class="newsletter">
            <h2>Subscribe to our newsletter</h2>
            <form action="#">
                <input type="email" placeholder="Enter Email..." required>
                <button type="submit">Subscribe</button>
            </form>
        </section>

        <!--  -->

        <section class="items">
            <div class="item">
                <img src="https://image.flaticon.com/icons/svg/919/919827.svg" alt="Imagem HTML5">
                <h4>HTML5 Markup</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, inventore ratione dolorum maiores, esse voluptatum tempore, animi magnam repudiandae voluptate quaerat laborum magni ad itaque illo incidunt commodi dignissimos pariatur?</p>
            </div>
            <div class="item">
                <img src="https://image.flaticon.com/icons/svg/888/888847.svg" alt="Imagem CSS3">
                <h4>CSS3 Styling</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ex accusamus maxime consectetur alias, nostrum nam porro, hic quae asperiores vero doloremque! Inventore minus temporibus ea minima cumque eum quidem.</p>
            </div>
            <div class="item">
                <img src="https://image.flaticon.com/icons/svg/2905/2905113.svg" alt="Imagem GD">
                <h4>Graphic Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptas ea amet, eveniet delectus error magni excepturi, nam libero labore maiores. Ab esse nam et sit illo quasi nostrum. Deserunt.</p>
            </div>
        </section>

        <div class="modal hide">
            <h1>Inscrição Concluída!</h1>
            <img src="/public/images/check.svg" alt="Concluído">
        </div>

        <footer>
            <p><span>Acme</span> Web Design, Copyright 2019</p>
        </footer>
    </div>

    <script src="/public/scripts/main.js"></script>
</body>
</html>